apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"quizapp-deployment","namespace":"default"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"quizapp"}},"template":{"metadata":{"labels":{"app":"quizapp"}},"spec":{"containers":[{"command":["/bin/bash"],"image":"trohit7/quizapp:mytagcl","name":"quizapp","ports":[{"containerPort":80}],"tty":true}]}}}}
  creationTimestamp: "2023-11-29T17:25:07Z"
  name: quizapp-deployment
  namespace: default
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: quizapp
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: quizapp
    spec:
      containers:
      - command:
        - /bin/bash
        image: trohit7/quizapp:mytagcl
        imagePullPolicy: IfNotPresent
        name: quizapp
        ports:
        - containerPort: 80
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        tty: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2023-11-29T17:25:07Z"
    lastUpdateTime: "2023-11-29T17:25:08Z"
    message: ReplicaSet "quizapp-deployment-567b8b576d" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2024-01-02T04:35:27Z"
    lastUpdateTime: "2024-01-02T04:35:27Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 1
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
