apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2023-10-12T08:22:30Z"
  generateName: updatedquizapp-deployment1-7488ddc955-
  labels:
    app: updatedquizapp1
    pod-template-hash: 7488ddc955
  name: updatedquizapp-deployment1-7488ddc955-cxz9n
  namespace: default
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: ReplicaSet
    name: updatedquizapp-deployment1-7488ddc955
    uid: 77e95fa4-c1bc-49d9-b01b-1a6627eff4b2
spec:
  containers:
  - command:
    - /bin/bash
    envFrom:
    - configMapRef:
        name: example-quiz-configmap
    image: trohit7/updatedquiz3:test3
    imagePullPolicy: IfNotPresent
    name: updatedquizapp1
    ports:
    - containerPort: 80
      protocol: TCP
    resources: {}
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    tty: true
    volumeMounts:
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-wctgd
      readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  nodeName: minikube
  preemptionPolicy: PreemptLowerPriority
  priority: 0
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext: {}
  serviceAccount: quiz-app-service-account
  serviceAccountName: quiz-app-service-account
  terminationGracePeriodSeconds: 30
  tolerations:
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 300
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 300
  volumes:
  - name: kube-api-access-wctgd
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          expirationSeconds: 3607
          path: token
      - configMap:
          items:
          - key: ca.crt
            path: ca.crt
          name: kube-root-ca.crt
      - downwardAPI:
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
            path: namespace
