apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: "2023-10-30T12:55:15Z"
  generateName: updatedquizapp-deployment-68b5fc85fd-
  labels:
    app: updatedquizapp
    pod-template-hash: 68b5fc85fd
  name: updatedquizapp-deployment-68b5fc85fd-ht5vm
  namespace: default
  ownerReferences:
  - apiVersion: apps/v1
    blockOwnerDeletion: true
    controller: true
    kind: ReplicaSet
    name: updatedquizapp-deployment-68b5fc85fd
    uid: dc80a066-96af-411d-887a-daa72467d6cf
spec:
  containers:
  - command:
    - /bin/bash
    envFrom:
    - configMapRef:
        name: example-quiz-configmap
    image: trohit7/updatedquiz:test
    imagePullPolicy: IfNotPresent
    name: updatedquizapp
    ports:
    - containerPort: 8081
      protocol: TCP
    resources: {}
    terminationMessagePath: /dev/termination-log
    terminationMessagePolicy: File
    tty: true
    volumeMounts:
    - mountPath: /var/run/secrets/kubernetes.io/serviceaccount
      name: kube-api-access-9bwlh
      readOnly: true
  dnsPolicy: ClusterFirst
  enableServiceLinks: true
  nodeName: minikube
  preemptionPolicy: PreemptLowerPriority
  priority: 0
  restartPolicy: Always
  schedulerName: default-scheduler
  securityContext: {}
  serviceAccount: quiz-app-service-account
  serviceAccountName: quiz-app-service-account
  terminationGracePeriodSeconds: 30
  tolerations:
  - effect: NoExecute
    key: node.kubernetes.io/not-ready
    operator: Exists
    tolerationSeconds: 300
  - effect: NoExecute
    key: node.kubernetes.io/unreachable
    operator: Exists
    tolerationSeconds: 300
  volumes:
  - name: kube-api-access-9bwlh
    projected:
      defaultMode: 420
      sources:
      - serviceAccountToken:
          expirationSeconds: 3607
          path: token
      - configMap:
          items:
          - key: ca.crt
            path: ca.crt
          name: kube-root-ca.crt
      - downwardAPI:
          items:
          - fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
            path: namespace
